* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* shared Styles */
.main-container {
    max-width: 1300px;
    margin: 0 auto;
}

.title-text {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.paragraph-text {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    opacity: 0.6;
}


.btn-nav {
    padding: 12px 16px;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn-nav:active {
    background: rgba(247, 233, 63, 1);
}


/*-----------------------------------*/

/*--Header section*/

.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}

.nav-link {
    display: flex;
    gap: 32px;

}

.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}



.menu {
    display: none;
}

/* --Hero Section---*/


.hero {
    background-image: url(./assets/hero-bg.png);
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}




.circle-img {
    background-image: url(./assets/hero-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 69px 75px 81px 75px;
    transform: translateY(-20px);
    position: relative;
}

.micro-img {
    width: 70%;
}

.tool {
    font-size: 1.125rem;
    font-weight: 600;
    columns: #1A0B2E;
    padding: 8px 16px;
    border-radius: 100px;
    background: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    right: 0;
    top: 6%;
}

.tech {
    text-align: center;

}

.tech h2 {

    font-size: 2.75rem;
    font-weight: 900;
    color: #FFFFFF;
}

.btn {
    display: flex;
    gap: 8px;
    margin-top: 24px;
}

.btn-1 {
    padding: 12px 20px;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));

}

.btn-1:active {
    background: rgba(247, 233, 63, 1);
}

.btn-2 {
    padding: 12px 20px;
    background: fixed;
    color: #00FF88;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #00FF88;
}

.btn-2:active {
    background: rgba(247, 233, 63, 1);
}


.my-btn .btn-2,
.span-2 {
    display: flex;
    align-items: center;
}

.span-2 {
    margin-right: 8px;
}



/*----About The poscast  */
.about-description {
    text-align: center;
    padding: 10px 200px 60px 200px;
}

hr {
    border: px solid #FFFFFF;
    opacity: 0.1;
}

.about-devlopment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    align-items: center;
}


.about-devlopment {
    text-align: center;

    padding-top: 40px;
    padding-bottom: 50px;

}

.about-devlopment h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.about-devlopment p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 8px;
    opacity: 0.6;
}

/*---Why  choose wavetack--------*/
.header {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 40px;
}

.choose>* {
    padding: 40px;
    font-size: 1rem;
    font-weight: 200;
    color: rgba(35, 14, 61, 1);
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

#audio {
    grid-area: audio;
    align-content: center;

}

#mobile {
    grid-area: mobile;
}

#global {
    grid-area: global;
}

#exclusive {
    grid-area: exclusive;
}

#rich {
    grid-area: rich;
}

.choose {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "audio mobile mobile"
        "audio global global"
        "exclusive exclusive rich";
}


.choose img {
    width: 40px;
    height: 40px;

}

.choose h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 12px;

}

.choose p {
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 12px;
    opacity: 0.6;
}


/*Featured Episodes */
.title-featured {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.video-card h6 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.featute-video-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.video-card {
    border-radius: 24px;
    background: rgba(37, 13, 68, 1);
    overflow: hidden;
}

.text-content {
    padding: 24px;
}

.time {
    display: flex;
    margin: auto;
    gap: 4px;
    margin-top: 12px;
}

.time p {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;

}

/*-------------------Responsive------------------------*/
@media screen and (max-width: 576px) {

    /* Nav Bar*/
    .nav-item {
        padding: 16px 20px;
        justify-content: space-between;
    }

    .nav-link {
        display: none;
    }

    .btn-nav {
        display: none;
    }

    .menu {
        display: inline;
    }

    /*Hero Section */

    .circle-img {
        transform: translateY(-8px);
    }

    .paragraph-text {
        padding-left: 12px;
        padding-right: 12px;
    }


    /*----About The poscast  */

    .about-description {
        padding: 10px;
    }

    .title-text {
        font-size: 2rem;
    }

    .about-devlopment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5;
        padding: 8px;
        padding-top: 20px;

    }

    .about-devlopment h1 {
        font-size: 2rem;
    }

    .about-devlopment p {
        font-size: 1rem;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 8px;
    }

    /*---Why  choose wavetack--------*/

    .header {
        font-size: 3rem;
    }

    .header {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .choose {

        padding: 24px;
        gap: 20px;
        grid-template-areas:
            "audio "
            "mobile"
            "global"
            "exclusive"
            "rich";
    }

    /*Featured Episodes  */

    .title-featured {
        margin-top: 40px;
        font-size: 3rem;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 15px;
    }

    .featute-video-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 16px;
    }

    .paragraph-text {
        padding-left: 0;
        padding-right: 0;
    }

}