* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* shared Styles */
.main-container {
    max-width: 1300px;
    margin: 0 auto;
}

.title-text {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.paragraph-text {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

/*-----------------------------------*/

/*--Header section*/

.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 200px;

}

.nav-link {
    display: flex;
    gap: 32px;

}

.nav-link li {
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.btn-1 {
    padding: 12px 16px;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}